body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}
@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
}
.student-profile .card {
    border-radius: 10px;
}
.student-profile .table tr:nth-child(odd) {
    background-color: #6daced !important;
    -webkit-print-color-adjust: exact;
    color: #fff;
}
.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 8px auto;
    border-radius: 0%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
 font-size: 14px;
 padding: 5px 10px;
 color: #000;
}

.student-profile .table .even tr:nth-child(2n+2) {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}
.card {
    border: 0px solid rgba(0,0,0,.125);
}
.P-0 {
    padding: 0px;
}
.b-0 {
    border:0px !important;
}
.Border_Side {
    border-left: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-top: 1px solid rgba(0,0,0,.125);
    border-radius: 0% !important;
}
.table {
     margin-bottom: 0rem;
}
.heading {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px;
    background-color: #6daced !important;
    -webkit-print-color-adjust: exact;
    color: #fff;
}
 .heading h6 {

  text-align:center;

 }
.student-profile .card p {
 font-size: 12px;
 color: #000;
 text-align: j;
 text-align: justify;
 line-height: 15px;
}
.table th {

 background-color: #f9f8e4 !important;
 -webkit-print-color-adjust: exact;
 color: #000 !important;

}
.bg-transparent {

 border: 1px solid #f5f5f5;

}
.card-header:first-child {
    border-radius: 0% !important;
}
.p-1 {
    padding:0px 0px 20px 0px !important;
}