<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	
		<connectionStrings>
			<add name="myConnection" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP-QU3O7LAD\MSSQL;Initial Catalog=HC24;User ID=sa;password=sql123;Integrated Security=True" />
			<!--<add name="myConnection" providerName="System.Data.SqlClient" connectionString="Data Source=N1NWPLSK12SQL-v01.shr.prod.ams1.secureserver.net;Initial Catalog=hc24ltd;Integrated Security=False;User ID=hc24;password=admin123;Connect Timeout=15;Encrypt=False;Packet Size=4096" />-->
		
	</connectionStrings>
	 <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  <system.web>
	   <pages renderAllHiddenFieldsAtTopOfForm="true" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
   
  </system.codedom>
</configuration>