<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	
		<connectionStrings>
			<add name="myConnection" providerName="System.Data.SqlClient" connectionString="Data Source=N1NWPLSK12SQL01;Initial Catalog=HC24LTD;User ID=sa;password=admin123;Integrated Security=True" />
			<!--<add name="myConnection" providerName="System.Data.SqlClient" connectionString="Data Source=NEETHA;Initial Catalog=HC24;Integrated Security=True" />-->
	</connectionStrings>
	 <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  <system.web>
	   <pages renderAllHiddenFieldsAtTopOfForm="true" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
   
  </system.codedom>
</configuration>